.Card:has(p:empty) {
  display: none;
}
html {
  margin: 1%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
}

.Card {
  display: flex;
  background-color: #303030;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 25px;
  width: 638px;
  box-shadow: 1px 5px #acadad;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

.titleHeader {
  display: flex;
  width: 90%;

}

.content {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.subreddit {
 display: flex;
 justify-content: center;
 align-items: center;
}

.subreddit img {
  border-radius: 50%;
}

.author {
  margin: 5%;
}

.arrow {
  width: 15px;
  height: 15px;
  border: 2px solid #32557f;
  border-left: 0;
  border-top: 0;
}